@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');

:root {
    --light-red: hsl(356, 100%, 66%);
    --very-light-red: hsl(355, 100%, 74%);
    --very-dark-blue: hsl(208, 49%, 24%);
    --white: hsl(0, 0%, 100%);
    --grayish-blue: hsl(240, 2%, 79%);
    --very-dark-grayish-blue: hsl(207, 13%, 34%);
    --very-dark-black-blue: hsl(240, 10%, 16%);
    --very-light-red: hsl(13, 100%, 72%);
    --light-red2: hsl(353, 100%, 62%);
    --very-dark-gray-blue: hsl(237, 17%, 21%);
    --very-desaturated-blue: hsl(237, 23%, 32%);
}

html{
    font-size: 10px;
    overflow-x: hidden;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: black;
}

li{
    list-style: none;
}

button {
    border: 0px;
}

body {
    font-size: 1.6rem;
    font-family: 'Overpass', sans-serif;
}

.container {
    width: 90%;
    margin: 0 auto;
}

nav {
    display: flex;
    justify-content: space-between;
    position: relative;
}

header {
    margin-top: 3rem;
    position: relative;
}

.nav-wrapper {
    position: absolute;
    margin-top: 6rem;
    padding: 3rem 0;
    background-color: var(--white);
    width: 100%;
    left: -200%;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    transition: all .4s ease;
    box-shadow: 6px 11px 61px 1px rgba(0,0,0,0.1);
}


.nav-wrapper.active {
    left: 0;
}

.hamburger {
    cursor: pointer;
    margin-top: 1rem;
}

.hamburger.show .hamburger-icon {
    opacity: 0;
}

.hamburger.show .close-icon {
    opacity: 1;
}

.hamburger-icon {
    position: absolute;
    opacity: 1;
}

.close-icon {
    opacity: 0;
}

hr {
    width: 90%;
    color: var(--grayish-blue);
    opacity: .2;
    margin: 2rem auto;
}

.nav-link:not(:first-child) {
    margin-top: 3rem;
}

.nav-link {   
    color: var(--very-dark-blue);
    font-weight: 500;
    cursor: pointer;
}

.nav-link svg:nth-child(2) {
    display: none;
}

.nav-link .arrow {
    margin-left: .5rem;
}

.dropdown-menu {
    position: relative;
    background-color: hsla(240, 2%, 79%, .3);
    width: 90%;
    border-radius: 5px;
    margin: 0 auto;
    padding: 2.5rem 0;
    margin-top: 1.5rem;
    display: none;
}

.dropdown-menu li:not(:first-child) {
    margin-top: 1.5rem;
}

.nav-link.active {
    color: hsla(208, 49%, 24%, .8);
}

.nav-link.active .dropdown-menu {
    display: block;
    color: hsla(208, 49%, 24%, .8);
}

.nav-link.active .arrow {
    transform: rotate(180deg);
}

.action {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login {
    color: var(--very-dark-blue);
    font-weight: 500;
    margin-bottom: 2rem;
}

.sign-up {
    background: linear-gradient(to right,var(--very-light-red), var(--light-red));
    padding: 1.2rem 3.2rem;
    text-align: center;
    color: var(--white);
    font-weight: 500;
    border-radius: 2rem;
}

.hero {
    background: 
        url('./images/bg-pattern-intro.svg') no-repeat 35% 40% / 350%,
        linear-gradient(to right,var(--very-light-red), var(--light-red2));  
    margin-top: -8rem;
    height: 550px;
    border-radius: 0px 0px 0px 8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.hero .container h2 {
    color: var(--white);
    padding: 0 3rem;
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 2rem;
}

.hero .container h3 {
    color: hsla(0, 0%, 100%, .7);
    font-weight: 300;
    margin-bottom: 5rem;
}

.start-for-free,
.learn-more {
    padding: 1.2rem 2rem;
    border-radius: 2rem;
}

.start-for-free {
    margin-right: 1rem;
    color: var(--light-red2);
    font-weight: 600;
    background-color: var(--white) ;
}

.learn-more {
    border: 1px solid hsla(0, 0%, 100%, .6);
    background-color: transparent;
    font-weight: 600;
    color: white;
}

.designed-future {
    color: var(--very-dark-blue);
    text-align: center;
    margin-top: 10rem;
    margin-bottom: 5rem;
    display: flex;
    flex-direction: column;
}

.designed-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.designed-content img:nth-child(2) {
    display: none;
}

.designed-future h3,
.content-body h3 {
    font-size: 3rem;
}

.designed-future .title {
    margin-bottom: 3rem;
}

.content-body h3 {
    margin-top: 3rem;
}

.content-body p {
    color: var(--very-dark-grayish-blue);
    font-weight: 300;
    line-height: 1.5;
    margin-top: 1.5rem;
    padding: 0 2rem;
}

.art-infrastructure {
    margin-top: 20rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background: 
        url('./images/bg-pattern-circles.svg') no-repeat 50% -25rem / 150%,
        linear-gradient(var(--very-dark-gray-blue), var(--very-desaturated-blue))
    ;
    border-radius: 0 12rem 0 8rem;
    padding-bottom: 10rem;
}

.art-infrastructure img {
    position: relative;
    width: 350px;
    top: -15rem;
}

.art-infrastructure .content-body {
    margin-top: -15rem;
}

.art-infrastructure .content-body h3 {
    color: var(--white);
}

.art-infrastructure .content-body p {
    color: var(--grayish-blue);
    padding: 0 4rem;
    text-align: center;
}

.free-open {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 6rem;
}

.free-open img:nth-child(2) {
    display: none;
}

.free-open-content {
    text-align: center;
}

.free-open-content .content-body h3 {
    color: var(--very-dark-blue);
}

footer {
    font-family: 'Ubuntu', sans-serif;
    background-color: var(--very-dark-black-blue);
    text-align: center;
    padding: 5rem 0;
    border-radius: 0 8rem 0 0;
    margin-top: 5rem;
}

footer img {
    margin-bottom: 5rem;
}

.list-menu {
    margin-bottom: 3rem;
}

.list-menu .menu-link{
    color: hsla(0, 0%, 100%, .5);
}

.menu-wrapper .title {
    font-weight: 600;
    color: var(--grayish-blue);
    margin-bottom: 3rem;
}

.menu-link:not(:first-child) {
    margin-top: .8rem;
}

@media only screen and (min-width: 1440px) {

    hr {
        display: none;
    }

    .container {
        width: 80%;
    }

    .hamburger {
        display: none;
    }

    .nav-wrapper {
        left: 0;
        background-color: unset;
        box-shadow: unset;
        flex-direction: row;
        position: initial;
        padding: 0;
        text-align: initial;
        margin-top: 0;
        justify-content: space-between;
        align-items: center;
        margin-left: 5rem;
    }

    .nav-menu {
        display: flex;
    }

    .nav-link {
        color: var(--white);
        font-weight: 300;
    }

    .nav-link.active .arrow {
        transform: rotate(0deg);
    }

    .nav-link:hover {
        text-decoration: underline;
    }
    
    .nav-link svg:nth-child(2) {
        display: initial;
    }

    .nav-link:hover > .dropdown-menu {
        visibility: visible;
        opacity: 1;
    }

    .nav-link:hover .arrow {
        transform: rotate(180deg);
    }

    .nav-link:not(:first-child) {
        margin-top: 0;
        margin-left: 3rem;
    }

    .nav-link.active {
        color:var(--white);
    }
  
    .action {
        flex-direction: row;
        align-items: center;
    }

    .login {
        margin-bottom: 0;
        color: var(--white);
        font-weight: 300;
    }

    .sign-up {
        background: var(--white);
        color: var(--light-red2);
        margin-left: 2rem;
        font-weight: 700;
    }

    .sign-up:hover,
    .start-for-free:hover {
        background: hsla(240, 2%, 79%,.3);
        color: var(--white);
    }

    .arrow:nth-child(1) {
        display: none;
    }

    .dropdown-menu {
        position: absolute;
        display: block;
        visibility: hidden;
        opacity: 0;
        margin-left: -2.5rem;
        transition: 200ms all 120ms ease-out;
        padding: 3rem 2rem 3rem 2rem;
        width: 180px;
        border-radius: 8px;
        box-shadow: -4px 2px 23px -6px rgba(0,0,0,0.3);
        background-color: var(--white);
        z-index: 1;
    }
    
    .dropdown-menu li {
        color: var(--very-dark-blue);
    }
    
    .dropdown-menu li:hover {
        color: var(--very-dark-black-blue);
        font-weight: 500;
    }

    .hero .container h2 {
        font-size: 6rem;
        padding: 0;
    }

    .hero {
        background: 
            url('./images/bg-pattern-intro.svg') no-repeat 25% 52% / 200%,
            linear-gradient(to right,var(--very-light-red), var(--light-red2));  
    }

    .learn-more:hover {
        background: var(--white);
        color: var(--light-red);
    }

    .designed-future {
        width: 100%;
        margin-top: 20rem;
    }

    .designed-future .title {
        margin-bottom: -5rem;
    }

    .designed-content .content-body {
        margin-left: 20%;
        text-align: initial;
    }

    .designed-content .content-body p {
        padding: 0 23rem 0 0;
    }
    
    .designed-content img:nth-child(1) {
        display: none;
    }

    .designed-content img:nth-child(2) {
        display: block;
        margin-right: -25rem;
    }

    .designed-content {
        margin-top: -10rem;
        flex-direction: row-reverse;
    }

    .robust-content {
        margin-top: 8rem;
    }

    .art-infrastructure {
        flex-direction: row;
        text-align: initial;
        align-items: center;
        padding: 0;
        height: 350px;
        margin-top: 0;
        background: 
            url('./images/bg-pattern-circles.svg') no-repeat -110% 85% / 80%,
            linear-gradient(var(--very-dark-gray-blue), var(--very-desaturated-blue))
        ;
    }

    .art-infrastructure img {
        width: initial;
        margin-left: 10%;
        top: 5rem;
    }

    .art-infrastructure .content-body {
        margin-top: 0;
        margin-left: 10rem;
    }

    .art-infrastructure .content-body p {
        padding: 0 30rem 0 0;
        text-align: left;
    }

    .container.free-open {
        width: 100%;
    }

    .free-open {
        margin-top: 15rem;
        flex-direction: row;
    }

    .free-open img:nth-child(1) {
        display: none;
    }

    .free-open img:nth-child(2) {
        display: initial;
        margin-left: -28rem;
    }

    .free-open-content .content-body {
        text-align: left;
        position: relative;
        margin-left: 13rem;
        top: -2rem;
    }

    .free-open .content-body p {
        padding: 0 25rem 0 0;
    }

    .powerful-tooling {
        margin-top: 10rem;
    }

    footer {
        text-align: initial;
        display: flex;
        justify-content: space-around;
        margin-top: 10rem;
        padding-right: 30rem;
        padding-top: 10rem;
    }

    footer img {
        width: 101;
        height: 40px;
    }
} 